*{
  color: #fff;
}

.timeline{
  display: grid;
  grid-template-columns: repeat(8, 3rem);
}

h1{
  grid-column: 1 / -1;
}

.temp{
  display: flex;
  align-items: center;
}

.sub{
  border-left: thin orange solid;
  padding: .7rem;
}

h2 {
  font-weight: 300;
}

.location h2 {
  margin: 20px 0;
  font-weight: 400;
  font-size: 30px;
}
