<div *ngIf="weatherNow">
  <div class="location">
    <h2>Caloocan City, Philippines</h2>
  </div>

  <div class="current-weather">
    <div class="weather">
      <span class="icon">
        <img src="../assets/images/{{weatherNow.weather[0].icon}}.png" alt="">
      </span>
      <span class="temperature">
        {{ weatherNow.main.temp | number:'1.0-0' }} &deg; C
      </span>
    </div>
  </div>

  <div class="details">
    <div class="main">
      Feels like {{ weatherNow.main.feels_like | number:'1.0-0' }}. {{ weatherNow.weather[0].main }}. {{ weatherNow.weather[0].description }}
    </div>
    <div class="sub">
      Humidity: {{ weatherNow.main.humidity }}%
    </div>
  </div>
</div>
